<div class="app-background" id="questionnarie">
    <h1>Questionnarie</h1>
    <header><b>Select one of the choices for the question below</b></header>
</div>
<form>   
<div class="questionnarie" id="question">
    <p class="custom-font">select your age: <br>
        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAge">
            <mat-radio-button class="radio-button" *ngFor="let age of ages" [value]="age" color="primary">
                {{age}}
            </mat-radio-button>
        </mat-radio-group>
    </p>
    </div>
    <div class="summary" id="summary" *ngIf="selectedAge !== '' ">
        <app-summary [selectedAge]="selectedAge"></app-summary>
    </div>
</form> 
